* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container header {
    width: 100%;
    height: 80px;
    background-color: black;
    color: #fff;
    display: flex;
}

.container header p {
    margin-left: 180px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 30px;
}

.container header i {
    font-size: 27px;
    margin-left: 1000px;
    margin-top: 25px;
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/6c43943bbf88586fa1937f43/Untitled1min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container .h1 {
    margin-left: 500px;
    padding-top: 250px;
    font-size: 80px;
    color: #fff;
}

.container .h1-2 {
    margin-left: 400px;
    font-size: 80px;
    color: #fff;
}

.container p {
    margin-left: 430px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    font-family: sans-serif;
}

.container .b2 {
    margin-left: 620px;
    font-size: 20px;
    color: #fff;
}

.container button {
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    margin-left: 650px;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.container button:hover {
    background-color: #dfe9ea;
}

/* ========== */
.lorem {
    width: 100%;
    height: 120vh;
    background-color: black;
    color: #fff;
}

.lorem .h1-3 {
    margin-left: 520px;
    padding-top: 80px;
    font-size: 3.5pc;
}

.lorem .p {
    margin-left: 400px;
    padding-top: 15px;
    font-size: 18px;
}

.box {
    width: 70%;
    height: 60%;
    margin-left: 220px;
    margin-top: 80px;
}

.box .img {
    width: 330px;
    height: 559px;
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/112beb4aa06c5a758acac4da/123.jpg);
    background-size: 99% 100%;
    background-repeat: no-repeat;
    position: absolute;
}

.box .img2 {
    width: 330px;
    height: 559px;
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/88b584008438593693841927/3f8d3833-72b3-3072-3d51-57dad152da82.jpg);
    background-size: 110% 100%;
    background-repeat: no-repeat;
    margin-left: 372px;
    position: absolute;
}

.box .img3 {
    width: 330px;
    height: 559px;
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/15b282e9ca1c5228a1cfbb6c/4a1d4947-fd02-e665-4d57-deac20b3eb39.jpg);
    background-repeat: no-repeat;
    background-size: 110% 100%;
    margin-left: 743px;
}

.box .item {
    padding-top: 300px;
    padding-left: 20px;
    padding-bottom: 65px;
    font-size: 34px;
    background-color: rgba(0, 0, 0, 0.378);
}